<div class="element-legend">
  <span class="pointer" data-pointer-for="atomic-number">Atomic Number</span>
  <span class="pointer" data-pointer-for="symbol">Symbol</span>
  <span class="pointer" data-pointer-for="name">Element Name</span>
  <span class="pointer" data-pointer-for="atomic-mass">Atomic Mass</span>
  <span class="pointer" data-pointer-for="electronic-config">Electronic Configuration</span>
  <app-periodic-table-element class="sample-element"
    [cell]="elementCell" [displayHeader]="false"></app-periodic-table-element>
</div>