.periodic-table {
    position: relative;
    display: inline-block;
    margin: 10px auto;
    margin-top: 50px;
    padding: 0;
    .table-titile {
        position: absolute;
        top: 0px;
        left: -10%;
        width: 100%;
        font-size: 5em;
        font-weight: bolder;
        word-spacing: 4px;
        letter-spacing: 2px;
    }
    .table-legend {
        position: absolute;
        top: 9em;
        left: 310px;
        width: 850px;
    }
    .extra-series {
        display: inline-table;
        margin: 15px 0;
        &>tbody>tr>td:first-child {
            padding-right: 15px;
            font-size: 1.2em;
            font-weight: bold;
        }
    }
    .table-copyright {
        text-align: center;
        color: #ccc;
        font-size: 12px;
    }
}