<div class="periodic-table" [class.with-col-header]="showColumnHeader">
    <div class="table-titile">
        Periodic Table of the Elements
    </div>
    <div class="table-legend">
        <app-periodic-table-legend></app-periodic-table-legend>
    </div>
    <table>
        <tbody>
            <tr *ngFor="let row of table.mainRows">
                <td *ngFor="let c of row.cols">
                    <app-periodic-table-element [cell]="c" [displayHeader]="showColumnHeader"></app-periodic-table-element>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="extra-series">
        <tbody>
            <tr>
                <td>{{ table.lanthanoidSeries.header }}</td>
                <td *ngFor="let c of table.lanthanoidSeries.cols">
                    <app-periodic-table-element [cell]="c" [displayHeader]="showColumnHeader"></app-periodic-table-element>
                </td>
            </tr>
            <tr>
                <td>
                    {{ table.actinoidSeries.header }}
                </td>
                <td *ngFor="let c of table.actinoidSeries.cols">
                    <app-periodic-table-element [cell]="c" [displayHeader]="showColumnHeader"></app-periodic-table-element>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-copyright">
        <p>Copyright (C) Roman Lo All Rights Reserved</p>
    </div>
</div>